<%= form_with(model: pokemon, local: true) do |form| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
        <% pokemon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :attack %>
    <%= form.number_field :attack %>
  </div>

  <div class="field">
    <%= form.label :defense %>
    <%= form.number_field :defense %>
  </div>

  <div class="field">
    <%= form.label :stamina %>
    <%= form.number_field :stamina %>
  </div>

  <div class="field">
    <%= form.label :gen %>
    <%= form.number_field :gen %>
  </div>

  <div class="field">
    <%= form.label :legendary %>
    <%= form.check_box :legendary %>
  </div>

  <div class="field">
    <%= form.label :caught %>
    <%= form.check_box :caught %>
  </div>

  <div class="field">
    <%= form.label :pokedexNumber %>
    <%= form.number_field :pokedexNumber %>
  </div>

  <div class="field">
    <%= form.label :ancestor_id %>
    <%= form.number_field :ancestor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
